// .rank-card{
//     background: white !important;
// }

.rank-table {
  .rank-card {
    &:nth-child(even) {
      background: transparent;
    }
  }
  h3 {
    width: 100%;
    .cardText {
   font-size: 1rem;
    }
  }
}
.buttonContainer {
  
display: flex;
justify-content: center;
align-items: center;
  .listButton {
   
   
  }
}
